body {
    /* From Subtle Patterns (https://www.toptal.com/designers/subtlepatterns/). Made by Craig Schwartz. */
    background-image: url("../img/round.png");
    font-family: 'Montserrat', sans-serif;
}

.bookshelf-title-container {
    font-family: 'Playfair Display', serif;
    padding: 2rem 0 2rem 0;
    background-color: ghostwhite;
    letter-spacing: 0.5rem;
}

.bookshelf-title {
    text-align: center;
}

.action-button {
    margin: 0 5px 0 5px;
}

.modal-window {
    height: auto;
    width: auto;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    opacity: 1;
    font-size: 1.5rem;
    padding: 1rem;
}
